@import url('https://fonts.bunny.net/css?family=source-sans-3:200,400,600,700&display=swap');

/*-- scss:defaults --*/
// Base document colors
$headings-font-family: 'Source Sans 3';
$font-family-sans-serif: 'Source Sans 3';
$code-color: #ae191a;
$kbd-color: #ae191a;
$kbd-bg: #ae191a;
$pre-color: #747473;
